<h1>Welcome, <%=@user.name%></h1>
<span><a href="/logout"> Logout</a></span>
<h3>Here is the List of Books by all Users on Book App.</h3><br><br>

<% @book_entries.each do |book_entry| %>
<h3><a href="/users/<%= book_entry.user_id %>/books/<%= book_entry.id %>"><%=book_entry.name%></a></h3>
<h4>Author: <%=book_entry.author%> </h4>
<p><strong>Notes: </strong><%= book_entry.notes%></p><br>
<p><strong>Created At: </strong><%=book_entry.created_at%></p>
<h5>By <a href="/users/<%=book_entry.user_id%>/profile"><%= book_entry.user.name%></a></h5>
<% end %>
