<h1>All My Books</h1>
<h3>Here is the List of Books.</h3><br><br>

<% @book_entries.each do |book_entry| %>
<% if book_entry.user == current_user %>
<h3><a href="/users/<%=book_entry.user_id%>/books/<%=book_entry.id%>"><%= book_entry.name %></a></h3>
<h4>By <%= book_entry.author %></h4>
<p><strong>Notes: </strong><%= book_entry.notes %></p><br>
<p><strong>Created at: <%= book_entry.created_at %></strong></p>
<% end %>
<% end %>
