<h1><%= @book_entry.name %></h1>
<h2><%= @book_entry.author %></h2>
<p><%= @book_entry.notes %></p> <br>
<span>Created at : <%= @book_entry.created_at %> </span><br>
<span>Updated at: <%= @book_entry.updated_at %></span><br>

<% if @book_entry.user == current_user %>
Edit Link
<a href="/users/<%=current_user.id%>/books/<%=@book_entry.id%>/edit">Edit</a>
Delete Link
<form class="" action="/users/<%=current_user.id%>/books/<%=@book_entry.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<button type="submit">Delete</button>
</form>
<% end %>
